<div class="jumbotron">
    <div class="row">
        <div class="col-md-7">
            <img src="~/Images/Logo/easyfislogonew.png" class="img-responsive" />
        </div>
        <div class="col-md-5"></div>
    </div>

    <h2>EasyFIS Sales Order Mobile</h2>
    <p>Version 1.20190326.NOR</p>
</div>
