<div class="row">
    <div class="col-md-8">
        <br /><br />
        <img src="~/Images/Customer/osakatakoyaki.png" class="img-responsive" />
        <br /><br />
    </div>
    <div class="col-md-4"></div>
</div>
